{% block body %}
{% load crispy_forms_tags %}



<style>

    .select2-container {
      width: 100%;
    }

    .select2-selection {
      border-radius: 4px;
      border-color: #ddd;
    }

    .select2-results__option {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .container-patients {
      padding-top: 4rem;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      height: 100%;
    }


    label[for=id_document] {
        display: none;
    }


  </style>
  
  {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="container-alert">
        <div class="alert alert-dismissible alert-success">
  <button type="button" class="btn-close {{ message.tags }}" data-bs-dismiss="alert"></button>
  {% endif %}
  <strong>Dobra robota!</strong> {{ message }}
</div>
</div>
{% endfor %}
</ul>
{% endif %}
  
  <div class= "container-patients">
    <div class="card border-primary mb-3" style="width: 80%;">
        <div class="card-header text-center fs-5">Dokumenty</div>
        <div class="form-newpatient">
        <div class="card-body">  
  <div class="tables">
      <table id="data" class="table table-bordered table-striped table-hover patients-table">
        <thead>
        <tr class="table-primary">
          <th scope="col">ID</th>
          <th scope="col">Nazwa pliku</th>
          <th scope="col">Data utworzenia</th>
          <th scope="col">Użytkownicy z dostępem</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
          {% for document in owned_document  %}
        <tr class="table-secondary">       
          <th scope="row">{{ document.id }}</th>
          <td><a href="{{ document.document.url }}">{{ document.name }}</a></td>
          <td>{{ document.date|date:"d-m-Y, H:i"  }}</td>
          <td>{% for user in document.allowed_users.all %}
            <li>{{user.username }}</li>
            {% endfor %}
          </td>

          <td style="text-align: center;">   
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info" style="width: 100%; height: 100%;">Info</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="{{ document.document.url }}">Otwórz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="{{ document.document.url }}">Pobierz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="#">Usuń</a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#shareModal" data-doc-id="{{ document.id }}">Udostępnij</a>
                  </div>
                </div>
              </div>
          </td>

        </div>
        </tr>
        {% endfor %}

        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Udostępnij dokument</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{%url 'add_permission'%}">
                  {% csrf_token %}
                  <input type="hidden" name="docId">
                  <div class="mb-3">
                    {{ file_form.allowed_users|as_crispy_field }}                           
                      <button type="submit" class="btn btn-primary">Udostępnij</button>   
                    </form>         
              </div>
            </form>
            </div>        
          </div>
        </div>

        </tbody>
      </table>
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>

  <div class= "container-patients">
    <div class="card border-primary mb-3" style="width: 80%;">
        <div class="card-header text-center fs-5">Otrzymane dokumenty</div>
        <div class="form-newpatient">
        <div class="card-body">  
  <div class="tables">
      <table id="data" class="table table-bordered table-striped table-hover patients-table">
        <thead>
        <tr class="table-primary">
          <th scope="col">ID</th>
          <th scope="col">Nazwa pliku</th>
          <th scope="col">Data utworzenia</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
          {% for doc in received_document %}
        <tr class="table-secondary">       
          <th scope="row">{{ doc.id }}</th>
          <td><a href="{{ doc.document.url }}">{{ doc.name }}</a></td>
          <td>{{ doc.date|date:"d-m-Y, H:i"  }}</td>


          <td style="text-align: center;">   
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="display: inline-block; width: 50%; height: 50%">
                <button type="button" class="btn btn-info" style="width: 50%; height: 20%;">Info</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="{{ doc.document.url }}">Otwórz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="{{ doc.document.url }}">Pobierz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="#">Usuń</a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#shareModal" data-doc-id="{{ document.id }}">Udostępnij</a>
                  </div>
                </div>
              </div>
          </td>

        </div>
        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>

  {% block scripts %}

  <script>
    $(document).ready(function(){
    $('#shareModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var docId = button.data('doc-id') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-body input[name="docId"]').val(docId)
    })
    });

    </script>
    <script>
      $(document).ready(function() {
    $("#id_allowed_users").select2({
      theme: 'bootstrap',
    });
    });
    </script>

{% endblock %}
{% endblock body %}