{% extends "patients/layout.html" %}
{% load static %}
{% block body %}

<style>
  .container-meetings {
    padding-top: 4rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>


<div class= "container-meetings">
  <div class="card border-primary mb-3" style="width: 80%;">
      <div class="card-header text-center fs-5">Zaplanowane spotkania</div>
      <div class="form-newpatient">
      <div class="card-body">  
<div class="tables">
    <table id="data" class="table table-bordered table-striped table-hover patients-table">
      <thead>
      <tr class="table-primary">
        <th scope="col">Data</th>
        <th scope="col-">Pacjent</th>
        <th scope="col-sm-">Lekarz</th>
        <th scope="col-sm-">Czas trwania</th>
        <th scope="col-sm-">Status spotkania</th>
        <th scope="col-l"></th>
      </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
        <tr class="table-secondary">
            <th scope="row">{{ meeting.start_time }}</th>
            <td>{{ meeting.patient}}</td>
            <td>{{ meeting.doctor}}</td>
            <td>{{ meeting.duration}}</td>
            <td> {{ meeting.progress }}</td>
            <td> <a class="btn btn-outline-info btn-sm button-fill" href="{% url 'meeting' meeting.id %}" role="button">Przejdź do spotkania</button> </td>           
          </tr>
        {% endfor %}

      </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}