{% load static %}
{% block body %}
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('document-id') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

<style>
    .container-patients {
      padding-top: 4rem;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      height: 100%;
    }


    label[for=id_document] {
        display: none;
    }


  </style>
  
  
  <div class= "container-patients">
    <div class="card border-primary mb-3" style="width: 80%;">
        <div class="card-header text-center fs-5">Dokumenty</div>
        <div class="form-newpatient">
        <div class="card-body">  
  <div class="tables">
      <table id="data" class="table table-bordered table-striped table-hover patients-table">
        <thead>
        <tr class="table-primary">
          <th scope="col">ID</th>
          <th scope="col">Nazwa pliku</th>
          <th scope="col">Data utworzenia</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
          {% for document in documents  %}
        <tr class="table-secondary">       
          <th scope="row">{{ document.id }}</th>
          <td>{{ document.name }}</td>
          <td>{{ document.date|date:"d-m-Y, H:i"  }}</td>

          <td style="text-align: center;">   
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="display: inline-block; width: 50%; height: 50%">
                <button type="button" class="btn btn-info" style="width: 50%; height: 20%;">Info</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="{{ document.document.url }}">Otwórz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="{{ document.document.url }}">Pobierz</a>
                    <a class="dropdown-item" download="Bez_Nazwy" href="#">Usuń</a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#shareModal">Udostępnij</a>
                  </div>
                </div>
              </div>
          </td>

        </div>
        </tr>
        {% endfor %}

        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Udostępnij dokument</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="{}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                  </div>
                  <button type="submit" class="btn btn-primary">Share</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  
        </tbody>
      </table>
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>

{% endblock body %}