{% extends "patients/layout.html" %}
{% load static %}
{% block body %}

<style>
    .container-dashboard {
        padding-top: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
    }
    .card-dashboard {
        width: 30%;
        margin: 2rem;
    }
    .card-body {
        padding-top: 4rem;
        
        justify-items: right;
        height: 100%;
    }
    </style>

    
    <div class="container-dashboard">
    
        <div class="card border-primary mb-3 card-dashboard" >
            <div class="card-header text-center fs-4">Informacje dotyczące spotkania</div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">Lekarz: {{ meeting.doctor }}</li>
        
                    </ul>
                </p>
                
            </div>
        </div>
    
        <div class="card border-primary mb-3 card-dashboard">
            <div class="card-header text-center fs-4">Panel sterowania</div>
            <div class="card-body">
                
                <button type="button" class="btn btn-outline-info">Info</button>

                <form method="POST" action = "{% url 'end_meeting'%}">
                    {% csrf_token %}
                    <input type="hidden" name = "meeting_id" value = "{{ meeting.id }}">
                <button type="submit" class="btn btn-outline-danger">Zakończ spoktanie {{ meeting.id }}</button>
                </form>
                
                <form method="POST" action = "{% url 'start_meeting'%}">
                    {% csrf_token %}
                    <input type="hidden" name = "meeting_id" value = "{{ meeting.id }}">
                <button type="submit" class="btn btn-outline-success">Rozpocznij spotkanie {{ meeting.id }}</button>
                
                </form>
                
                
            </div>
        </div>


              
            </div>
        </div>
    
    </div>



{% endblock %}