{% extends "patients/layout.html" %}
{% load static %}
{% block body %}
<style>
.form-newmeeting {
    padding-top: 4rem;
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.container-newmeeting {
    padding-top: 4rem;
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .btn {
    margin: 2rem;
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.container-alert {
    padding-top: 4rem;
    width: 40rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

</style>
{% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="container-alert">
        <div class="alert alert-dismissible alert-success">
  <button type="button" class="btn-close {{ message.tags }}" data-bs-dismiss="alert"></button>
  {% endif %}
  <strong>Dobra robota!</strong> {{ message }} <a href="{% url 'patients'%}" class="alert-link">Przejdź do zaplanowanych wizyt</a> lub dodaj następne spotkanie.
</div>
</div>
{% endfor %}
</ul>
{% endif %}





<div class= "container-newmeeting">
<div class="card border-primary mb-3" style="width: 70rem;">
    <div class="card-header text-center fs-5">Zaplanuj nową wizytę</div>
    <div class="form-newmeeting">
    <div class="card-body">          
        <form action="newmeeting" method="POST">
            {% csrf_token %}
            {{ form }}      
            <button type="submit" class="btn btn-outline-primary" style="width: 20rem;">Dodaj pacjenta</button>
        </div>
        </form>
        </div>
    </div>
</div>
</div>
{% endblock body %}