{% extends "patients/layout.html" %}
{% load static %}
{% block body %}
<style>
    h1{
        padding-top: 1%;
        text-align:center;
    }
</style>
<h1>Karta informacji o pacjencie: Mateusz Kowalski</h1>


<div class="container">

    <div class="card border-primary mb-3" style="idth: 40rem;">
        <div class="card-header">Wizyty</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    <div class="card border-primary mb-3" style="width: 20rem;">
    <div class="card-header">Dane kontaktowe</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>

    <div class="card border-primary mb-3" style="width: 20rem;">
        <div class="card-header">Płatności</div>
        <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>


{% endblock %}