{% extends "patients/layout.html" %}
{% load static %}
{% block body %}

<div class="tables">
    <table id="data" class="table table-bordered table-hover patients-table">
      <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-primary">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>
</div>


{% endblock %}